<h1>These are the details of our unique user, <%= @user.name %></h1>

<section class="d-flex align-items-center mb-3 gap-3">
  <div> 
    <%= image_tag("/assets/#{@user.photo}", class: "border p-5 border-5") %>
    <%=@user.photo%>
  </div>
  <div class="border border-5 w-100 p-3">
    <h2><%= @user.name %></h2>
    <div class="d-flex justify-content-end">
      <p>Number of posts: <%= @user.posts.count || 0 %></p>
    </div>
  </div>
</section>

<div class="border border-5 mx-auto w-100 p-3 mb-3">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div>
  <% @user.recent_posts.each do |post| %>
       <a href="<%= "/users/#{@user.id}/posts/#{post.id}" %>" class="text-decoration-none text-primary-emphasis">
      <div class="border border-5 gap-3">
        <h3>Post #<%= post.id %></h3>
        <p><%= post.text %></p>

        <div class="d-flex justify-content-end">
          <span>Comments: <%= "#{ post.comments_counter || 0 }"%></span>
          <span>, Likes: <%= "#{ post.likes_counter || 0 }"%></span>
        </div>
      </div>
    </a>
  <% end %>
</div>

<div class="text-center p-4">
  <a href=<%= "/users/#{ @user.id }/posts" %>>
    <button type="button" clarailsss="btn btn-primary rounded-pill">
      See All Posts
    </button>
  </a>
</div>